body {
    background-color: #FFFF77;
}
#top {
    width: 100%;
    height: 100px;
}
#sidebar {
    float: left;
    width: 30%;
    height: 450px;
    align-items:center;
}
#sidebar-top {
    flex: auto;
    width: 30%;
    height: 50px;
    align-items: center;
}
#center {
    float: left;
    width: 50%;
    height: 450px;
    align-items: center;
}
#center-top {
    flex: auto;
    width: 50%;
    height: 50px;
    align-items: center;
}